body{
    width: 1920px;
}

@font-face {
    font-family: Roboto;
     src: url("assets/fonts/Roboto.ttf");
   }
   @font-face {
    font-family: Roboto;
    src: url("assets/fonts/RobotoThin.ttf");
    font-weight: 100;
  }
  @font-face {
    font-family: Roboto;
    src: url("assets/fonts/RobotoRegular.ttf");
    font-weight: 300;
  }
  .contanier{
    margin: 0 auto;
    width: 1440px;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .welcome__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .header-logo{
    height: 33px;
    width: 199px;
    left: 0px;
    top: 59px;
    border-radius: 0px; 
    border: 1px;   
  }
  li{
    list-style: none;
  }
 
  ul{
      display: flex;
      max-width: 720px;
  }
  a{
    text-decoration: none;
  }
  .header-logo-vector{
    height: 26px;
    width: 49px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);      
    background-image: url("assets/svg/Vector.png");
    
  }
  .header-logo-vector h2{
      padding-left: 60px;
  }
  header{
      background-color: rgb(2, 2, 2);
      height: 150px;
  }
  .header-logo-text{
    font-family: Forum;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 5px;
    text-align: left;
    color: rgba(255, 255, 255, 1);


  }
  .header-navigation{
    height: 26px;
    width: 775px;
    top: 62px;
    border-radius: 0px;
    
  }

  .navigation__link a{
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding: 0 10px;

  }
  h1{
    font-family: Forum;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
  }

   
  .welcome-section{
      background-color: black;
  }
  .welcome-frame{
    height: 388px;
    z-index: 1;
    width: 598px;
    left: 0px;
    top: 150px;
    border-radius: 0px;
    
        
  }
  .foto-frame{
    height: 810px;
    z-index: 2;
    width: 1000px;
    left: 445px;
    top: -50px;
    border-radius: 0px;    
  }
  .welcome-frame p{
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 33px;
    letter-spacing: 2px;
    text-align: left;
    color: #FFFFFF;
  }

  .welcome__button button{
    width: 360px;
    height: 75px;
    left: 0px;
    top: 0px;

    background: #710707;
    border-radius: 10px;
    color: white;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: center;   
  }

  .slider-pagination{
    height: 120px;
    width: 600px;
    left: 400px;
    top: 690px;
    border-radius: 0px;
    background-image: url("assets/png/Slider pagination.png");
    
  }

  .section-title{
    width: 543px;
    height: 90px;
    left: 0px;
    top: 0px;
    
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */
    
    letter-spacing: 5px;
    text-transform: uppercase;
    
    color: #9D8665;
  }

  .picture-squere{
    
    width: 440px;
    left: 0px;
    top: 193px;
  }
          
    h3{
        font-family: Forum;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 5px;
        text-align: left;        
    } 
    .section-title{
        width: 1300px;
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 80px;
        line-height: 90px;
        padding-bottom: 25px;

        /* identical to box height, or 112% */

        letter-spacing: 5px;
        text-transform: uppercase;
        color: #9D8665;
    }
    .left-block .section-title{
        width: 700px;
    }
        

    .visiting__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 15px;       
    }
    .rectangle{
        border-bottom: 2px solid #710707;
        width: 300px
    }
    .rectangle__section{
        border-bottom: 2px solid #710707;
        height: 3px;
    }
    .explore__container {
        display: flex;
        /* justify-content: space-between; */
        
        
    } 
    .explore__container p{
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

    }
    .explore-section{
        border: 2px solid #710707;
        background-color: black;
    }
    .left-block .section-title{
        font-family: Forum;
        font-size: 70px;
        font-style: normal;
        font-weight: 400;
        line-height: 90px;
        letter-spacing: 5px;
        text-align: left;
        color: #FFFFFF

    }
    
    .top-block{
        display: flex;       
        align-items: center;
        

    }
    .top-block p{
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 300;
        line-height: 39px;
        letter-spacing: 0em;
        text-align: left;

    }
    .spare-video{
        display: flex;
        justify-content: space-between;
    }
    

 
