:root {
  --bg-dark: #030303;
  --dark-red: #710707;
  --white: #ffffff;
  --font-gold: #9d8665;
  --bg-light:#e5e5e5;
  --font1: 80px;
  --font2: 32px;
  --font3: 28px;
  --font4: 22px;
  --font5: 18px;
  --content-width:1024px;
  --content-width:768px;
  --content-width:420px;
}

iframe {
  display: block;
  background: #000;
  border: none;
  height: 100vh;
  width: 100vw;
}

.burger-add {
  display: none;

}


#visiting, #video, #tickets, #contacts {
  background-color: var(--white);

}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-size: var(--font4);
  line-height: 1.6;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

.container {
  position: relative;
  display: flex;
  width: 1480px;    
  margin: 0 auto;
  padding: 0 20px;
}

.link-html {
  width: 100%;
  height: 100vh;
} 

.link-html iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Header */

.header {   
  
  background-color: var(--bg-dark);
  display: flex;
}

.header-container {
  width: 1440px;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}


.logo-icon {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 34px;

  background-image: url("assets/svg/logo.svg");
  background-repeat: no-repeat;

  transition: filter .5s linear;
}

.logo-icon:hover {
  filter: invert(52%) sepia(34%) saturate(351%) hue-rotate(356deg) brightness(97%) contrast(87%);
}


.logo-text {
  margin-left: 16px;
  display: inline-block;
  width: 125px;

  font-family: 'Forum', cursive;
  font-size: var(--font3);
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 5px;
  color: var(--white);
  text-transform: uppercase;

  transition: color 1s linear;
}

.logo-icon:hover + .logo-text {
  color: var(--font-gold);
}

/* .hamburger {
  display: none;
  position: relative;
  width: 31px;
  height: 25px;
  
} */

.burger__item--close {
  background-color: transparent;
}
.burger__item {
  display: block;
  width: 32px;
  height: 2px;
  position: relative;
  background-color: #ffffff;
  font-size: 0;
  color: transparent;
}

.burger {
  display: none;
  padding: 2px 0;
  background: none;
  border: 0;
  cursor: pointer;
  transition: display .5s linear;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.nav-wrapper, .nav-header {
  
  display: none;
}


/* Nav */

.navigation {
  
  margin: 0;
  padding: 0;
  width: 775px;
  display: flex;
  justify-content: space-between;
  align-items: center; 

  list-style: none;
}


.navigation-link {
  padding-right: 20px;

  font-family: 'Roboto', sans-serif;
  font-size: var(--font4);
  font-weight: 100;
  line-height: 2.3;
  letter-spacing: 2px;
  color: var(--white);
  text-decoration: none;
  
  transition: color 1s linear;
}

.navigation-link:last-child {
  padding-right: 0;
}

/* animation link */
.navigation-link:hover {
  color: var(--font-gold);
}


/* Section */

.section {
  display: flex;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* padding-top: 75px;
  padding-bottom: 75px; */
}

.section-title {
  
  font-family: 'Forum', cursive;
  font-size: var(--font1);
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.section-title--lightness {
  color: var(--white);

}

.section-title--darkness {
  color: #333333;
}

.section-title--gold {
  color: var(--font-gold);
}

.underline-title {
  position: relative;
}

.underline-title::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--dark-red);
}

.section-subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font3);
  font-weight: 700;
  line-height: 1.2;
  color:#333333;

}

.section-subtitle--light {
  color: #ffffff;
}

.section-subtitle--dark {
  color: #000000;
}

.section-subtitle--end {
  text-align: end;
}

.section-text {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font4);
  font-weight: 300;
  line-height: 1.2;
  color:#000000;
}

.section-text--light {
  color: #ffffff;
}


/* Welcome */


.welcome-section {       
  background-color: var(--bg-dark);
}

.welcome-container {
  position: relative;
  width: 100%;
  padding-bottom: 60px;
}

.welcome-wrapper {
  position: absolute;
  margin-top: 150px;
  z-index: 1;
}

.welcome-title {
  margin: 0;
  
}

.welcome-subtitle {
      
  font-family: 'Roboto', sans-serif;
  font-size: var(--font3);
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 2px;
  color:#ffffff;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  width: 360px;
  height: 75px;
  
  font-family: 'Roboto', sans-serif;
  font-size: var(--font4);
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;

  background-color: var(--dark-red);
  border-radius: 10px;

  transition: background-color .5s linear;
}

.btn:hover {
  background-color: var(--font-gold);
}

.welcome-background {
  /* position: absolute; */
  bottom: 0;
  right: 0;
}


/* Slider */

.slider{
  position: relative;
  max-width: 1000px;
  max-height: 750px;
  width: 70.5%;
  margin-left: auto;
}

/* .slider-shadow {
position: absolute;
width: 100%;
height: 100%;
z-index: 0;
background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
opacity: 1;
} */


.slider-container {
position: relative;
overflow: hidden;
width: 100%;
height: 100%;
}

.slider-bg{
display: none;
width: 100%;
height: auto;
}



.item-slider {
display: none;
width: 100%;
height: auto; 
animation: .5s ease-in-out;  
top: 0;
right: 0;    
}
.item-slider:after {
content: "";
display: block;
position: absolute;
top: 0;
width: 100%;
height: 100%;
z-index: 0;
background: transparent;
background-image: linear-gradient(
90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
opacity: 1;
}

.item-slider img {
display: block;
width: 100%;
height: auto;
}



.active-slider {
display: block;
}

.next-slider {
display: block;
position: absolute;
top: 0;    
}

.control {
position: absolute;
bottom: -60px;
right: 0;
z-index: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
box-sizing: border-box;
width: 600px;
height: 120px;
padding: 40px 74px;
background-color: var(--bg-dark);   
  
}

.number-wrapper {
display: flex;
margin-right: 55px;
height: 40px;
width: 74px;
}

.number-slider {
  
margin-right: 26px;
position: relative;

font-family: 'Roboto', sans-serif;
font-size: var(--font4);
font-weight: 400;
line-height: 1.8;
color:#ffffff;
}

.active-number::after {

display: block;
content: '';
position: absolute;
width: 2px;
height: 20px;
top: 11px;
right: -14px;
background-color: #ffffff;
}

.squares {
  
padding: 12px 0;
display: flex;
width: 180px;
height: 16px;
justify-content: space-between;
}

.square {
margin-right: -2px;
width: 16px;    
height: 16px;

background-color: #ffffff;
cursor: pointer;

transition: background-color .6s linear;

}

.square:hover {
  background-color: #9D8665;
}

.active-square {
  background-color: #D2B183;
}

.arrow-wrapper {
padding: 16px 0;
display: flex;
margin-left: 50px;

}

.arrow {
margin: 0 10px;    
width: 30px;
height: 8px;
color: #ffffff;
cursor: pointer;
transition: filter .6s linear;
}

.arrow:hover {
filter: invert(52%) sepia(34%) saturate(351%) hue-rotate(356deg) brightness(97%) contrast(87%);
}

.arrow-left {
background-image: url("assets/img/welcome-slider/arrow-left.svg");
}

.arrow-right {
background-image: url("assets/img/welcome-slider/arrow-right.svg");
}

.to-left {
animation-name: left;
}

.to-right {
animation-name: right;
animation-direction: reverse;
}

.from-left {
animation-name: left;
animation-direction: reverse;
}

.from-right {
animation-name: right;
}

@keyframes right {
from {
    left: 100%;
}
to {
    left: 0;
}
}

@keyframes left {
from {
    left: 0;
}
to {
    left: -100%;
}
}




/* Visiting */
.visiting-container{
  display: flex;
  flex-direction: column;
  padding: 75px 0;
  width: 100%;
}

/* .visiting-section {
  /* padding-bottom: 63px; */
/* } */ */


.visiting-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 75px 60px;
  padding-top: 75px;
  line-height: 0;
}
.visiting-item {
  display: block;
  text-decoration: none;
}

.visiting-img {
  width: 440px;
  height: 285px;
}

.visiting-subtitle {
  margin-top: 15px;
  margin-bottom: 22px;

  font-family: 'Forum', cursive;
  font-size: var(--font2);
  font-weight: normal;
  line-height: 1.1;
  letter-spacing: 5px;
  text-transform: uppercase; 
  color: #000000;

  position: relative;

  
}

.visiting-subtitle::after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 300px;
  height: 2px;
  background-color: var(--dark-red);

  transition: width 1s linear;
}



.visiting-item:hover .visiting-subtitle::after  {
  width: 100%;
}

.visiting-text {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font4);
  font-weight: 100;
  line-height: 1.2;
  color:#000000;
}

.visiting-text--small {
  font-size: var(--font5);
}


/* Explore */

.explore-section {
  background-color: var(--bg-dark);
}

.explore-container {
  width: 100%;    
  display: flex;
  flex-direction: row;
  padding: 75px 0;
  gap: 60px;    
  
}

.explore-text-box{
    max-width: 660px;
    margin: 75px 0;

  font-family: 'Roboto', sans-serif;
  font-size: var(--font4);
  font-weight: 300;
  line-height: 1.7;
  color:#ffffff;
}

.explore-text p {
  margin-bottom: 29px;
}

.explore-text--yellow {
  color: #CAAA7D;
}

/* .explore-img {
  position: relative;
  margin-top: 15px;
  max-width: 720px;
  height: 700px;
    
} */

.explore-img {
  position: relative;
  margin-top: 15px;
  width: 50%;
  height: auto;
}

.explore-img-inner {
  position: relative;
}

.explore-bg {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.img-origin {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 61%;
  background-size: cover;
  z-index: 100;
  overflow: hidden;
}

/* .img-origin {
  position: absolute;
  top: 0; 
  left: 0; 
  height: 100%;  
  max-width: 440px;
  background-size: cover;
  z-index: 100;
  overflow: hidden;    
} */


.img-origin img {
  width: 164%;
  height: 100%;
}

.img-copy img {
  width: 100%;
  height: 100%;
}

.img-copy {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: auto;
  z-index: 10;
}

.explore-line-wrapper {
  position: absolute;
  top: 0;
  left: 61%;

  height: 100%;
  width: 4px;

}
.explore-line-inner {
  width: 100%;
  height: 100%;
  position: relative;
  
}
.explore-line {
  width: 39px;
  height: 39px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  z-index: 1000;


  position: absolute;
  top: calc(50% - 4px);
  left: -17px;
  z-index: 1000;
  cursor: ew-resize;



  transform: translateY(-50%); 
}

.explore-line-inner::before {
  display: block;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;

  height: calc(50% - 20px);
  width: 4px;

  background-color: #ffffff;
  cursor: ew-resize;
} 

.explore-line-inner::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 1000;

  height: calc(50% - 25px);
  width: 4px;

  background-color: #ffffff;
  cursor: ew-resize;
} 


.explore-line-inner::before {
display: block;
content: "";
position: absolute;
top: 0px;
left: 0px;
z-index: 1000;

height: calc(50% - 20px);
width: 4px;

background-color: #ffffff;
cursor: ew-resize;
} 

.explore-line-inner::after {
display: block;
content: "";
position: absolute;
bottom: 10px;
left: 0;
z-index: 1000;

height: calc(50% - 25px);
width: 4px;

background-color: #ffffff;
cursor: ew-resize;
} 




/* Video */



.video-section {
  margin: 0;
  padding: 0;
  
}
.video-container{
  display: flex;
  flex-direction: column;
  padding: 75px 0;
  width: 100%;
}

.video-textbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 115px;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #000000;
}
.video-player{
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  margin-top: 75px;
  margin-bottom: 40px;
  height: auto;
  background-color: #000000;
}
video[poster]{
  width:100%;
  object-fit:cover;
}

.player__screen-button {
  position: absolute;
  top: calc(50% - 155px);
  left: calc(50% - 110px);

  z-index: 2;

  width: 220px;
  height: 220px;

  background: transparent url("assets/svg/player/screen-button.svg");
  border: none;
  cursor: pointer;
}

.player__controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  height: 85px;
  padding: 0 30px;
  width: 100%;

  background-color: #000000;
}

.player__play {
  width: 23px;
  height: 31px;
  flex-shrink: 0;

  border: none;
  background: transparent url("assets/svg/player/play.svg");
}

.player__range {
  height: 8px;

  border-radius: 0;
  background: linear-gradient(to right, #710707 0%, #710707 50%, #C4C4C4 50%, #C4C4C4 100%);
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;

  transition: background 450ms ease-in;
}

.player__range::-webkit-slider-thumb {
  width: 15px;
  height: 15px;

  border-radius: 50%;
  background: #ffffff;
  -webkit-appearance: none;
}

.player__progress {
  flex-grow: 6;
  flex-basis: 929px;
}

.player__volume {
  flex-grow: 1;
  flex-basis: 155px;
}

.player__mute {
  width: 38px;
  height: 31px;
  flex-shrink: 0;

  background: transparent url("assets/svg/player/mute.svg");
  border: 0;
}

.player__fullscreen {
  width: 35px;
  height: 35px;
  flex-shrink: 0;

  background: transparent url("assets/svg/player/fullscreen.svg");
  border: none;
}

.player__range::-webkit-slider-thumb:hover {
  cursor: pointer;
  background-color: #dedede;
}

.player__screen-button,
.player__play,
.player__mute,
.player__fullscreen,
.player__range::-webkit-slider-thumb {
  transition: background-color, opacity 0.5s;
}

.player__screen-button:hover,
.player__play:hover,
.player__mute:hover,
.player__fullscreen:hover
{
  cursor: pointer;
  opacity: 0.8;
}
/* .player-video {
  max-width: 1440px;
  width: 100%;
  max-height: 650px;
  height: auto;
} */


.video[poster]{
  width:100%;
  object-fit:cover;
}
/* .inframe{
  position: relative;
  max-width: 452px;
  max-height: 254px;
  width: 100%;
  height: auto;
  line-height: 0;
} */

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.playlist {
display: flex;
flex-direction: column;
row-gap: 40px;
width: 100%;
}

.playlist__slider {
display: flex;
gap: 42px;
flex-direction: row;
justify-content: space-between;
flex-wrap: nowrap;
}

.playlist__preview {
position: relative;

max-width: 452px;
max-height: 254px;
width: 100%;
height: auto;

line-height: 0;
}

.playlist__preview img {
width: 100%;
z-index: 0;
}


.playlist__preview iframe {
position: absolute;
top: 0;
left: 0;

width: 100%;
height: 100%;
}

.playlist__items {
display: flex;
align-self: center;
gap: 20px;

font-size: 0;
}

.playlist__item {
display: block;
width: 12px;
height: 12px;

list-style: none;
background: #999999;
border-radius: 50%;
}

.playlist__item--checked {
background: #333333;
}

.playlist__arrow {
list-style: none;
}

.playlist__arrow-left,
.playlist__arrow-right {
height: 12px;
width: 10px;

border: none;
}

.playlist__arrow-left {
background: transparent url("assets/svg/player/arrow-left.svg") no-repeat;
}

.playlist__arrow-right {
background: transparent url("assets/svg/player/arrow-right.svg") no-repeat;
}

.playlist__arrow-left:hover {
cursor: pointer;
background: transparent url("assets/svg/player/arrow-left-active.svg") no-repeat;
}

.playlist__arrow-right:hover {
cursor: pointer;
background: transparent url("assets/svg/player/arrow-right-active.svg") no-repeat;
}

.playlist__item:hover {
cursor: pointer;
background-color: #710707;
}



.playlist {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 100%;
}

.playlist__slider {
  display: flex;
  gap: 42px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.playlist__preview {
  position: relative;

  max-width: 452px;
  max-height: 254px;
  width: 100%;
  height: auto;

  line-height: 0;
}

.playlist__preview img {
  width: 100%;
  z-index: 0;
}


.playlist__preview iframe {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.playlist__items {
  display: flex;
  align-self: center;
  gap: 20px;

  font-size: 0;
}

.playlist__item {
  display: block;
  width: 12px;
  height: 12px;

  list-style: none;
  background: #999999;
  border-radius: 50%;
}

.playlist__item--checked {
  background: #333333;
}

.playlist__arrow {
  list-style: none;
}

.playlist__arrow-left,
.playlist__arrow-right {
  height: 12px;
  width: 10px;

  border: none;
}

.playlist__arrow-left {
  background: transparent url("assets/svg/player/arrow-left.svg") no-repeat;
}

.playlist__arrow-right {
  background: transparent url("assets/svg/player/arrow-right.svg") no-repeat;
}

.playlist__arrow-left:hover {
  cursor: pointer;
  background: transparent url("assets/svg/player/arrow-left-active.svg") no-repeat;
}

.playlist__arrow-right:hover {
  cursor: pointer;
  background: transparent url("assets/svg/player/arrow-right-active.svg") no-repeat;
}

.playlist__item:hover {
  cursor: pointer;
  background-color: #710707;
}

.video-title {
  margin: 0;
}

.video-text {
  width: 720px;
  line-height: 1.78;
}

/* .video-corousel {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 100%;
 

}

.inframe-container{
  display: flex;
  gap: 42px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.video-corousel-control {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;

}

.dot-video {
  margin: 0 10px;
  height: 12px;
  width: 12px;
  background-color: #999999;
  border-radius: 50%;
  cursor: pointer;

  transition: all .5s linear;

}

.dot-video:hover {
  background-color: #710707;
}

.dot-video--active {
  background-color: #333333;
}

.arrow-left--video {
  margin: 0 10px;
  width: 10px;
  height: 12px;
  background-image: url("assets/svg/arrow-left-video.svg");
  background-repeat: no-repeat;

  cursor: pointer;
  transition: all .5s linear;
}

.arrow-left--video:hover {
  filter: invert(12%) sepia(52%) saturate(3941%) hue-rotate(350deg) brightness(87%) contrast(105%);
}

.arrow-right--video {
  margin: 0 10px;
  width: 10px;
  height: 12px;
  background-image: url("assets/svg/arrow-right-video.svg");
  background-repeat: no-repeat;

  cursor: pointer;
  transition: all .5s linear;
}

.arrow-right--video:hover {
  filter: invert(12%) sepia(52%) saturate(3941%) hue-rotate(350deg) brightness(87%) contrast(105%);
}

.video-corousel iframe {
  border: none;
} */




/* Gallery */

.gallery-section {
  
  padding-bottom: 0;
  background-color: var(--bg-dark);
  
}

.picture-container {
  position: relative;
  width: 100%;
  padding-top: 75px;
  
}



.gallery-mask {
  position: absolute;
  width: 100%;
  height: 360px;
  left: 0px;
  bottom: 0;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);

}
.gallery-img {
  margin-bottom: 20px;
  width: 100%;
  opacity: 0;
  transition: all .5s linear;
  transform: translateY(20%) scale(.8);
}


/* .section-title-gallery { */
  /* margin-bottom: 85px; */
/* } */
.picture-inner{
  margin-top: 75px;
  height: 1960px;
  overflow-y: hidden;
}

.picture-inner-container {
  max-height: 3100px;
  columns: 3;
  column-gap: 36px;
  column-fill: balance;
}

.img-visional {
  opacity: 1;
  transform: translateY(0) scale(1);
  scale: 1;
}

.gallery-img {
  margin-bottom: 20px;
  width:calc(100% - 5px);
}

.gallery-margin {
  margin-top: 50px;
}

/* Tickets */

/* .tickets-section { */
  
/* } */

.tickets-container {
  width: 100%;
  padding: 75px 0;
  box-sizing: border-box;
  color: #000000;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;

}

/* .tickets-form{

} */
.tickets-inner{
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 60px;
  margin-top: 75px;      
}

.tickets-img {
  width: 720px;
  height: 550px;
}

.tickets-content-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 660px;
}
.left-tickets-column {
  display: flex;
  flex-direction: column;
}
.right-tickets-column{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.tickets-amount {
  margin-bottom: 10px;
}

.subtitle--ticket {
  margin-bottom: 52px;
}

.type-item {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-top: 25px;
  cursor: pointer;

  user-select: none;

  transition: color .5s linear;
}

.type-item:hover {
  color: var(--font-gold);
}

.type-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  height: 17px;
  width: 17px;

  position: absolute;
  top: 3px;
  left: 0;
  
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;

  transition: border .5s linear;
}

.type-item:hover input ~ .checkmark {
  border: 2px solid var(--font-gold) ;
}



.checkmark:after {
  display: none;

  position: absolute;
  content: "";
 
  transition: background-color .5s linear;
}

.type-item input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  width: 7px;
  height: 7px;

  top: 3px;
  left: 3px;

  border-radius: 50%;
  background: #000000;
}

.type-item:hover input ~ .checkmark:after {
  background-color: var(--font-gold) ;
}

.subtitle-amount {
  margin-bottom: 24px;
  
}

.number-tickets {
  display: flex;
  justify-content: space-between;
  padding: 0 6px;
  margin-top: -1px;
  margin-bottom: 11px;
  width: 150px;
  height: 50px;

  border: 3px solid #000000; 

  transition: border 1s linear;
}

.number-tickets:hover  {
  border: 3px solid var(--font-gold);
}

.number {
  padding-left: 30px;
  width: 40px;
  all: unset;
  text-align: center;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: var(--font4);
  line-height: 1.2;

  color: #000000;
}

.tickets-btn {
  padding: 0;
  display: inline-block;

  font-family: 'Roboto', sans-serif;
  font-size: var(--font2);
  font-weight: 400;
  line-height: 1.2;
  color:#000000;
  background-color:var(--white);
  border: none;

  transition: color .5s linear;
}

.tickets-btn--left {
  padding: 4px 8px 4px 4px;
  margin-right: 4px;
}

.tickets-btn--right {
  padding: 4px 4px 4px 0;

}

.tickets-btn:hover {
  color: var(--font-gold);
}


.tickets-text--amount {
  margin: 11px 0 16px;
}

.tickets-cost {
  display: flex;
  width: 150px;
  margin: 50px -1.65px 50px;
  text-align: flex-end;
  letter-spacing: 1.65px;

}


.tickets-subtitle--cost {
  display: inline-block;

}

.btn-buy {
  margin-left: auto;
  margin-right: 0;
  display: block;
  width: 176px;
  height: 51px;

  font-family: 'Roboto', sans-serif;
  font-size: var(--font4);
  font-weight: 300;
  line-height: 1.2;
  color:#ffffff;
  text-align: center;
  letter-spacing: 2px;
  border: none;

  cursor: pointer;
  background-color: #000000;

  transition: background-color .5s linear;

}

.btn-buy:hover {
  background-color: var(--font-gold);
} 

/* Form */

.form-overlay {
  display: none;
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 5000;
  background-color: rgba(0, 0, 0, 0.7);

  
  
}

.overlay-open {
  display: block;
}

.form {
  display: flex;
  
  padding: 91px 235px;
  
  width: 1440px;
  height: 845px;

  position: fixed;

  top: 50%;
  left: 50%;
  z-index: 10000;

  transform: translate(-50%, -50%);
  background-color:#ffffff;
  animation: .5s ease-in-out;
}


.opening-form {
  animation-name: openForm;
  
}

.closing-form {
  animation-name: openForm;
  animation-direction: reverse;
}

@keyframes openForm {
  from {
      left: -50%;
  }
  to {
      left: 50%;
  }
}

.form-left {
  width: 400px;
  height: 663px;
}

.form-logo {
  margin-bottom: 60px;
  border-bottom: 3px solid #740C11;
}

.form-icon {
  vertical-align: middle;
  width: 85px;
  height: 41px;

  background-image: url("assets/svg/logo-form.svg");
  background-repeat: no-repeat;
}

.form-title {
  font-family: 'Forum', cursive;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--font-gold);

}

.form-text {
  margin: 13px 0 10px;
  
  font-family: 'Roboto', sans-serif;
  font-size: var(--font5);
  font-weight: 400;
  line-height: 1.2;
  color:var(--dark-red);
}

.form-item {
  height: 45px;
  padding-left: 43px;
  border: 1px solid #030303;
}

.form-item::placeholder {
  color: #030303;

  font-family: 'Roboto', sans-serif;
  font-size: var(--font5);
  font-weight: 400;
}

.date-inner {
  display: flex;
}

.form-item-wrapper {
  position: relative;
}

.form-date {
  margin-right: 18px;
  width: 190px;
  
  
}

.icon-inner {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;

  background-color: #ffffff;
}

.date-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 100;
  background-image: url("assets/svg/form/date.svg");
}




.form-time {
  width: 190px;
 
}

.form-large {
  margin-top: 20px;
  width: 400px;
  
}



.time-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 15px;
  left: 15px;
  background-image: url("assets/svg/form/time.svg");
}





.name-icon {
  width: 13px;
  height: 15px;
  position: absolute;
  top: 35px;
  left: 15px;
  background-image: url("assets/svg/form/name.svg");

}

.email-icon {
  width: 15px;
  height: 11px;
  position: absolute;
  top: 37px;
  left: 15px;
  background-image: url("assets/svg/form/email.svg");
}

.phone-icon {
  width: 14px;
  height: 23px;
  position: absolute;
  top: 30px;
  left: 15px;
  background-image: url("assets/svg/form/tel.svg");
}

.form-select {
  margin: 20px 0;
  width: 400px;
  height: 45px;

  border: 1px solid #030303;
  
}

option {
  background-color: #ffffff;
}
.form-tickets {
  padding: 10px 15px;
  width: 400px;
  height: 135px;
  border: 1px solid #030303;
}

.form-subtitle {
  margin-bottom: 2px;
  position: relative;
  
  font-family: 'Forum', cursive;
  font-size: var(--font5);
  font-weight: 400;
  line-height: 1.1;
  text-transform: capitalize;
  color: var(--font-gold);



}

.form-subtitle::after {
  display: block;
  content: "";
  width: 370px;
  height: 2px;
  background-color: #740C11;
  position: absolute;
  bottom: -5px;
  left: 0;
  
}  

.form-inner-tickets {
  display: flex;
  justify-content: space-between;
  margin:  0 ;
  height: 25px;
}

.form-inner-tickets--first {
  margin-top: 25px;
  margin-bottom: 17px;
}

.form-text--tickets {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font5);
  font-weight: 400;
  line-height: 1.2;
  color: #030303;
}

.number-tickets--form {

  margin: 0;
  margin-top: -3px;;
  width: 105px;
  height: 25px;
  padding: 0;

  border: 1px solid #030303;

}

.tickets-btn--form {
  margin: 0;
  padding: 0;
  width: 35px;
  height: 100%;
 
  background-color: var(--bg-dark);
  color: #ffffff;
  font-size: var(--font5);
}

.tickets-btn--left--form {
  width: 38px;
  padding: 0;
  margin: 0;
}

.tickets-btn--right--form {
  width: 35px;
  padding: 0;
  margin: 0;
  letter-spacing: 0;
  font-size: 16px;
}

.number--form {
  
  width: 33px;
  padding: 0;
  margin: 0;;
 
}

.form-right {
  padding: 25px 30px;
  margin-left: 40px;
  width: 530px;
  height: 663px;
  position: relative;

  border: 1px solid #030303;
}

.overview-title {
  margin-bottom: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: var(--font2);
  font-weight: 500;
  line-height: 1.2;
  color: #272727;
}

.overview-subtitle {
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: var(--font4);
  font-weight: 400;
  line-height: 1.2;
  color: #740C11;
  opacity: 0.9;
}

.inner-text--right {
  display: flex;
}

.overview-text {
  padding-left: 12px;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: var(--font5);
  font-weight: 300;
  line-height: 1.2;
  color: #030303;
}

.date-svg {
  width: 15px;
  height: 15px;
  background-image: url("assets/svg/form/date.svg");
}

.time-svg {
  width: 15px;
  height: 15px;
  background-image: url("assets/svg/form/time.svg");
} 

.exhibition-svg {
  width: 15px;
  height: 15px;
  background-image: url("assets/svg/form/exhibition.svg");
} 

.overview-img {
  width: 150px;
  height: 120px;

  position: absolute;
  top: 23px;
  right: 29px;
}

.overview-tickets {
  margin-top: 15px;
}

.overview-tickets-item {
  display: flex;
  justify-content: space-between;

  position: relative;
}



.tickets--inner {
  display: flex;
}

.overview-tickets-count {
  padding: 0 2px;
  width: 32px;
  height: 20px;

  background-color: var(--bg-dark);
  color: #A4A4A3;
  text-align: center;
  border-radius: 5px;
}

.overview-tickets-type {
  color: #030303;
  margin-left: 10px;
}

.overview-tickets-coast {
  color: #030303;
}

.overview-total {
  margin-top: 11px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.overview-total::before{
  display: block;
  content: "";
  width: 100%;
  height: 2px;

  position: absolute;
  top: -14px;
  left: 0;

  background-color: #740C11;

}

.total-text {
  color: #030303;
}

.card-wrapper {
  position: relative;
}

.card {
  padding: 15px 20px;
  width: 360px;
  height: 211px;

  background-color: #BCBCBC;
  border-radius: 5px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.card-text {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: #161615;
}

.card-text:first-child {
  margin-top: 0;
}

.card-number {
  width: 215px;
  height: 35px;
}

.card-date {
  width: 100px;
  height: 35px;
}

.cardholder {
  width: 320px;
  height: 35px;
}

.icon-visa {
  vertical-align: middle;
  width: 55px;
  height: 16px;

  background-image: url("assets/svg/Visa.svg");
  background-repeat: no-repeat;

  position: absolute;
  top: 34px;
  left: 285px;
}

.icon-mastercard {
  vertical-align: middle;
  width: 53px;
  height: 32px;

  background-image: url("assets/svg/Mastercard.svg");
  background-repeat: no-repeat;

  position: absolute;
  top: 65px;
  left: 287px;
}

.card-back {
  background-color: #939393;

  position: absolute;
  top: 30px;
  left: 110px;
  z-index: 10;
}

.card-back::after {
  display: block;
  content: "";
  background-color: #161615;
  width: 360px;
  height: 45px;

  position: absolute;
  top: 25px;
  left: 0;
  z-index: 50;
}

.card-back-content {
  position: absolute;
  width: 75px;
  top: 85px;
  right: 20px;
}

.card-text-cvc {
  padding: 0 9px;
  margin-bottom: 5px;
}

.card-cvc {
  
  width: 75px;
  height: 35px;
}

.card-text--back {
  padding: 0 10px;
  width: 75px;
  height: 50px;
  font-size: 10px;
}

.close-form {
  padding: 0;
  width: 25px;
  height: 25px;
  
  background: transparent;
  position: absolute;
  top: 32px;
  right: 30px;
  border: none;

  cursor: pointer;
  
}

.close-form::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -5px;
  width: 33px;
  height: 1px;
  background-color: #030303;

  transform: rotate(45deg);
}

.close-form::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -5px;
  width: 33px;
  height: 1px;
  background-color: #030303;

  transform: rotate(135deg);
}

.btn-book {
  width: 220px;
  height: 45px;

  background-color: #710707;
  font-family: 'Roboto', sans-serif;
  font-size: var(--font4);
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;

  position: absolute;

  right: 30px;
  bottom: 26px;

}



/* Parallax */

.parallax {
  width: 100%;
  height: 400px;
  left: calc(50% - 1024px/2);

  background-image: url(assets/img/parallax.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;


  
}


/* Contacts */

.contacts-container {
  width: 100%;
  padding: 75px 0 75px 0;
}

.contacts-inner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 75px;
  gap: 10px;
}

/* .contacts-content {
  
  
} */

/* .contacts-title {
  margin-bottom: 107px;
} */

.contacts-subtitle {
  margin-bottom: 47px;
}

.contacts-text {
  padding: 0;

  margin-bottom: 50px;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}

.contacts-text li {
  margin-bottom: 26px;
  list-style: none;
}

.contact-link {
  color: #000000;
  text-decoration: none;
}

.contacts-img {   
  position: relative;
  max-width: 960px;
  max-height: 620px;
  width: 100%;
  height: 100%;
  line-height: 0;
}


/* Footer */

.footer {
  background-color: var(--bg-dark);
}

.footer-container {
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: 100%;
  padding: 75px 0 40px 0;
  justify-content: space-between;
  
}

.footer-inner {
  display: flex;
}

.logo-footer {
  
  margin-right: 140px;
}

.logo-text--footer {
  margin-left: 19px;
}

.navigation-footer {
  margin: 0 0 -15px;
  padding: 0;
  
  display: grid;
  grid-template-columns: 50px 107px;
  max-width: 366px;
  height: 150px;
  list-style: none;
 
}

.navigation-link--footer {
  width: 107px;
  height: 50px; 
}

.footer-social {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  list-style: none;
  gap: 24px;
}

.social-link {
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #ffffff;
  border-radius: 50%; 
  
  transition: border .6s linear;
}

.social-link img {
  transition: filter .6s linear;
}

.social-link:hover {
  border: 1px solid var(--font-gold);
}

.social-link:hover img {
  filter: invert(52%) sepia(34%) saturate(351%) hue-rotate(356deg) brightness(97%) contrast(87%);
}

.footer-line {    
  height: 3px;
  width: 100%;

  background-color: #666666;
}

.copyright{
  display: flex;
}
.copyright-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 0;
  width: 100%;
}


.footer-text {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font4);
  font-weight: 200;
  line-height: 1;
  letter-spacing: 2px;
  color: var(--white);

  text-decoration: none;

}

.footer-date {
  margin-top: 5px;
  
}

.footer-link {
  
  transition: color .5s linear;
}

.footer-link:hover {
  color: var(--font-gold);
}

@media (max-width: 1024px){
  .container {
    width: 1024px;
  }

  :root {
      --font1: 50px;
      --font2: 28px;
      --font4: 20px;    
  }

  .section-title {
      
      line-height: 75px;
  }

/*HEADER*/
    .header-container{
        position: relative;
        height: 130px;
    }


    header .navigation{
        display: none;
    }
    .nav-wrapper, .nav-header{
        display: block;
    }
    .nav-wrapper open-nav{
        
        margin: 0;
        align-items: center;
        list-style: none;
        padding: 35px 55px;
        display: flex;
        width: 28%;
        height: 585px;
        justify-content: left;
        flex-direction: column;
        position: absolute;
        top: calc(100% + 50px);
        left: 0;
        z-index: 100000;
        animation: .5s ease-in-out;   
    }

    .nav-header{
        padding: 35px 55px;
        display: flex;
        width: 28%;
        height: 585px;
        justify-content: left;
        flex-direction: column;
        position: absolute;
        top: calc(100% + 50px);
        left: 0;
        z-index: 100000;
        animation: .5s ease-in-out;
    }

    .nav-header > li {
        width: 100%;
    }

    .nav-link--header {
        text-align: left;
        font-size: 20px;
        position: relative;
    }

    .burger-close--hide {
        display: none;
    }
    
    .burger {
        display: block;
        margin-bottom: -4px;
    }
    

    /* MENU*/
    .nav {
        position: absolute;
        top: 130px;
        left: -100vw;
        z-index: 2;
    
        width: 297px;
        height: 456px;
        padding: 35px 0 0 35px;
    
        transition: left 0.5s linear;
        background-color: var(--bg-dark)
    }

    /*  WELCOME */

    .welcome-wrapper {
        margin-top: 50px;
        padding-bottom: 120px;
    }
    .control{
        width: 100%;
        justify-content: flex-end;
    }

    .visiting-container{
        padding: 60px 0;
    }

    .visiting-cards {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 60px 108px;
      padding-top: 60px;
      justify-content: center;
    }
    
    .visiting-img{
        width: 330px;
        height: 215px;
    }
    .visiting-text{
        font-weight: 200;
    }
    .squares{
      padding: 14px 0 18px 2px;
      width: 160px;  
    }

    .square {
        width: 12px;
        height: 12px;
    }
    

    
  /* EXPLORE */
  .explore-container{
        flex-direction: column;
        padding: 60px 0;
        gap:0;
    }
    .explore-content{
        width: 100%;

    }

  .explore-text {
        margin: 60px 0;
    }
    .explore-text-box{
        width: 100%;
    }

    .p3{
        display: none;
    }

    .explore-img {
        max-width: 720px;
        width: 100%;
        margin: 0 auto;

        line-height: 0;
    }

    

    
    
    /*video*/

    .video-container{
        padding: 60px 0;
    }
    .video-text{
        display: none;
    }

    .video-player{
        margin-top: 40px;

    }

    .player__controls {
        gap: 30px;
        height: 60px;
        padding: 0 40px;
    }
    .player__screen-button {
        top: calc(50% - 105px);
        left: calc(50% - 76px);
        width: 152px;
        height: 152px;
        background: transparent url("assets/svg/player/screen-button2.svg") no-repeat;
    }
    
    .player__range {
        height: 5px;
    }
    
    .player__progress {
        flex-grow: 6;
        /*width: 564px;*/
        flex-basis: 564px;
    }
    
    .player__volume {
        flex-grow: 1;
        /*width: 143px;*/
        flex-basis: 143px;
    }
    
    .player__mute {
      width: 26px;
        height: 20px;
    
        background: transparent url("assets/svg/player/mute2.svg");
    }
    
    .player__fullscreen {
        width: 26px;
        height: 26px;
    
        background: transparent url("assets/svg/player/fullscreen2.svg");
    }
    
    .player__range::-webkit-slider-thumb {
        width: 13px;
        height: 13px;
    }
    
      .playlist__slider {
        gap: 41px;
    }   

     
    
    .picture-container{
      padding-top: 60px;
    }


  header .navigation{
      display: none;
  }
  .nav-wrapper, .nav-header{
      display: block;
  }
  .nav-wrapper open-nav{
      
      margin: 0;
      align-items: center;
      list-style: none;
      padding: 35px 55px;
      display: flex;
      width: 28%;
      height: 585px;
      justify-content: left;
      flex-direction: column;
      position: absolute;
      top: calc(100% + 50px);
      left: 0;
      z-index: 100000;
      animation: .5s ease-in-out;   
  }

  .nav-header{
      padding: 35px 55px;
      display: flex;
      width: 28%;
      height: 585px;
      justify-content: left;
      flex-direction: column;
      position: absolute;
      top: calc(100% + 50px);
      left: 0;
      z-index: 100000;
      animation: .5s ease-in-out;
  }

  .nav-header > li {
      width: 100%;
  }

  .nav-link--header {
      text-align: left;
      font-size: 20px;
      position: relative;
  }

  .burger-close--hide {
      display: none;
  }
  
  .burger {
      display: block;
      margin-bottom: -4px;
  }
  

  /* MENU*/
  .nav {
      position: absolute;
      top: 130px;
      left: -100vw;
      z-index: 2;
  
      width: 297px;
      height: 456px;
      padding: 35px 0 0 35px;
  
      transition: left 0.5s linear;
      background-color: var(--bg-dark)
  }

  /*  WELCOME */

  .welcome-wrapper {
      margin-top: 50px;
      padding-bottom: 120px;
  }
  .control{
      width: 100%;
      justify-content: flex-end;
  }

  .visiting-container{
      padding: 60px 0;
  }

  .visiting-cards {
      gap: 60px 108px;
      padding-top: 60px;
      justify-content: center;
  }
  .visiting-img{
      width: 330px;
      height: 215px;
  }
  .visiting-text{
      font-weight: 200;
  }
  .squares{
    padding: 14px 0 18px 2px;
    width: 160px;  
  }

  .square {
      width: 12px;
      height: 12px;
  }
  

  
/* EXPLORE */
.explore-container{
      flex-direction: column;
      padding: 60px 0;
      gap:0;
  }
  .explore-content{
      width: 100%;

  }

.explore-text {
      margin: 60px 0;
  }
  .explore-text-box{
      width: 100%;
  }

  .p3{
      display: none;
  }

  .explore-img {
      max-width: 720px;
      width: 100%;
      margin: 0 auto;

      line-height: 0;
  }

  

  
  
  /*video*/

  .video-container{
      padding: 60px 0;
  }
  .video-text{
      display: none;
  }

  .video-player{
      margin-top: 40px;

  }

  .player__controls {
      gap: 30px;
      height: 60px;
      padding: 0 40px;
  }
  .player__screen-button {
      top: calc(50% - 105px);
      left: calc(50% - 76px);
      width: 152px;
      height: 152px;
      background: transparent url("assets/svg/player/screen-button2.svg") no-repeat;
  }
  
  .player__range {
      height: 5px;
  }
  
  .player__progress {
      flex-grow: 6;
      /*width: 564px;*/
      flex-basis: 564px;
  }
  
  .player__volume {
      flex-grow: 1;
      /*width: 143px;*/
      flex-basis: 143px;
  }
  
  .player__mute {
    width: 26px;
      height: 20px;
  
      background: transparent url("assets/svg/player/mute2.svg");
  }
  
  .player__fullscreen {
      width: 26px;
      height: 26px;
  
      background: transparent url("assets/svg/player/fullscreen2.svg");
  }
  
  .player__range::-webkit-slider-thumb {
      width: 13px;
      height: 13px;
  }
  
    .playlist__slider {
      gap: 41px;
  }   

   
  
  .picture-container{
      padding-top: 60px;
  }



  /* TICKETS */
.tickets-container{
  padding: 60px 0;
}

.tickets-inner {
  width: 100%;
  column-gap: 80px;
  margin-top: 60px;
}

.tickets-img-container{
  max-width: 700px;
  max-height: 440px;
}

.tickets-img {
  overflow: hidden;
  max-width: 700px;
  max-height: 440px;

  max-width: 700px;
  width: 100%;
  max-height: 440px;
  object-fit: cover;
}

.tickets-content-container{
  width: 175px;
}

.left-tickets-column{
  display: none;
}

.right-tickets-column{
  align-items: flex-start;
  gap: 25px;
}


.tickets-inner {
  width: 100%;
  column-gap: 80px;
  margin-top: 60px;
}
.tickets-amount {
  margin-bottom: 0;
}
.right-tickets-column {
  align-items: flex-start;
  gap: 30px;
}

.tickets-amount {
  width: 175px;
}

.number-tickets{
  margin: 25;
}
.tickets-text--amount {
  margin: 0;
}
.section-subtitle--end{
  text-align:left;
}
/* CONTACTS */

.contacts-container {
  padding: 60px 0 67px;
}
.contacts-inner {
  margin-top: 60px;
}

.contacts-img {   
  max-width: 694px; 
}

.contacts-subtitle{
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 28px;
}
.contacts-text li{
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 15px;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  
} 
}

@media (max-width: 768px) {
  /* GLOBAL SETTINGS */
  .container {
    width: 768px;
    
  }

  header .navigation{
      display: none;
  }


  /*  WELCOME */

.welcome-wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 50px 0;
  margin: 0;
}
.welcome-subtitle{
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  margin-top: 25px;
  font-weight: 300;
}

 .welcome-title{
  text-align: center;
 } 

.slider {
  width: 100%;
  line-height: 0;
}
.item-slider{
  max-width: 100%;
}
.slider-shadow {
  display: none;
}

.btn {
  display: none;
}

.control {
  /* position: relative; */
  /* bottom: 0; */
  z-index: 0;

  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 0;
}
.squares {
  
  padding: 12px 0 20px 2px;
  padding-top: 7px;
  margin-left: -5px;
    
}

/* .number-wrapper {

} */


/* Tour */
.visiting-container{
  padding: 40px 0;
}
.visiting-cards {
  gap: 40px 56px;
  padding: 40px 0;
  justify-content: center;
}

.visit-img {
  width: 280px;
  height: 180px;
}
.visiting-subtitle {
  font-size: 22px;
  line-height: 23px;
  letter-spacing: 3px;
}

/* EXPLORE */
.explore-container{
  padding: 40px 0;
  width: 100%;
}

.explore-text-box{
   display: none;

}

.explore-img{
    margin-top: 40px;
  margin-bottom: 4px;
}
.section-title {
  font-size: 40px;
  line-height: 60px;
}

/* VIDEO */

.video-player {
  margin: 20px 0;
  max-height: 400px;
}
.video-container {
  padding: 40px 0 80px;
}

.player__screen-button {
  top: calc(50% - 65px);
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  background: transparent url("assets/svg/player/screen-button3.svg") no-repeat;
}

.player__controls {
  position: relative;

  gap: 35px;
  height: 58px;
  padding: 5px 30px 0;
}

.player__progress {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
}

.player__volume {
  flex-basis: 287px;
}

.player__play {
  width: 23px;
  height: 29px;
}

.player__mute {
  width: 27px;
  height: 21px;
}

.player__fullscreen {
  width: 27px;
  height: 27px;
}

.player__range::-webkit-slider-thumb {
  width: 13px;
  height: 13px;
}

.playlist {
  row-gap: 20px;
}
.playlist__slider {
  gap: 20px;
}
.playlist__preview:nth-child(3) {
  display: none;
}
.playlist__item {
  width: 10px;
  height: 10px;
}





/* GALLERY */
/* .picture-container {
  
} */
.picture-inner {
  margin-top: 40px;
  height: 1080px;
}
.picture-inner-container{
  gap: 24px;
  max-height: 1800px;
  columns: 2;
}

/* Parallax */

 .parallax {
      height: 300px;
  }

  /* CONTACTS */
.contacts-container {
  padding: 40px 0 72px;
}

.contacts-inner {
  flex-direction: column;
  margin-top: 80px;
  gap: 25px;
}
.contacts-subtitle{
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 23px;
}
.contacts-img {
 
  max-width: 100%;
  max-height: 476px;
}

/* FOOTER */
.footer-container {
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px 0 25px 0;
}
.footer-social {
  margin-top: 45px;
  margin-bottom: 15px; 
  padding-left: 46%;
   

}
.navigation-footer{
  padding: 0;
  margin-top: 30px;
}

/* COPYRIGHT*/
.copyright__inner {
  padding: 40px 0;
}
/**/
.booking {
  display: none;
}
}



@media (max-width: 420px) {
  
  .container {
    width: 420px;
  }
   
  /* HEADER */
.header-container {
  height: 90px;
}
.logo-text{
  /* padding-left: 54px; */
  margin-top: 0;
  font-size: 16px;
  line-height: 18px;
}

.logo-icon{
  padding-left: 54px;
  margin-top: 0;
  font-size: 16px;
  line-height: 18px;
  background: transparent url("assets/svg/logo2.svg") no-repeat left top;

}



/* WELCOME */
.welcome-wrapper {
  padding-top: 5px;
}

.welcome-title {
  font-size: 28px;
}

/*EXPLORE*/
.explore-img{
  margin-bottom: 0;
}

.squares{
  padding-top: 0px;
  margin-left: -5px;
}
.number-wrapper {
  padding-left: 2px;
  margin-right: 0;
}

.arrow-wrapper {
  margin-left: 0;
}
.square{
  margin: 4px;
  width: 7px;
  height: 7px;
}
.arrow-left {
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 8px;
}
.arrow-right {
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 8px;
}

.active-number {
  margin-right: 20px;
}

.number-slider {
  font-size: 16px;
}


.active-number::after {
  height: 15px;
  width: 1px;
  top: 5px;
  right: -10px;
}


  

/* VIDEO */

.video-player {
  margin: 20px 0;   
} 


.video-container {
  padding: 36px 0 40px;
}

.video-player {
  margin-top: 20px;
  margin-bottom: 40px;    
}

.player__controls {
  position: relative;
  gap: 30px;
  height: 54px;
  padding: 0 20px;
}

.player__screen-button {
  top: calc(50% - 52.5px);
  left: calc(50% - 25px);

  width: 50px;
  height: 50px;

  background: transparent url("assets/svg/player/screen-button4.svg") no-repeat;
}

.player__volume {
  flex-basis: 200px;
}

.player__play {
  width: 14px;
  height: 18px;

  background: transparent url("assets/svg/player/play4.svg");
}

.player__mute {
  width: 18px;
  height: 14px;
  background: transparent url("assets/svg/player/mute4.svg");
}

.player__fullscreen {
  width: 18px;
  height: 18px;

  background: transparent url("assets/svg/player/fullscreen4.svg");
}

.player__range::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
}

.playlist {
  row-gap: 40px;
}
.playlist__slider {
  gap: 20px;
}
.playlist__preview:nth-child(3) {
  display: none;
}
.playlist__item {
  width: 8px;
  height: 8px;
}

.playlist__arrow-left,
.playlist__arrow-right {
  height: 7px;
  width: 8px;

  border: none;
}

.playlist__arrow-left {
  background: transparent url("assets/svg/player/arrow-left.svg") no-repeat left;
}

.playlist__arrow-right {
  background: transparent url("assets/svg/player/arrow-right.svg") no-repeat right;
}

/* GALLERY */
.picture-container {
  padding-top: 40px;
}
.picture-inner{
  margin-top: 40px;
  height: 637px;
}

/* TICKETS */
.tickets-inner{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.right-tickets-column{
  align-items: center;
  gap: 20px;
}
.btn-buy{
  margin-top: 20px;
  font-size: 16px;
}
.section-subtitle--end {
  text-align: center;
}

/* FOOTER */
.footer-container {
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px 0 40px 0;
}
.footer-inner{
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px 0 40px 0;
}

.footer-social {
  margin-top: 45px;
  margin-bottom: 15px;
  padding:0;
  
}
.school-link a{
    display: none;
}

.navigation-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  } 

  .footer-social {
      padding: 0;
      gap: 5px;
      justify-self: center;
      align-self: center;
      width: 260px;
      margin: 0;
  }
}













